
body {
	background: #bcccc9;
	overflow: hidden;
}

.chat {
	box-sizing: border-box;
	width: 600px;
	height: 100vh;
	padding: 20px;

	display: grid;
	grid-template-rows: 1fr 60px;
	margin: auto;
}

.messages {
	display: grid;
	align-items: end;
	overflow-y: scroll;
}

.message {
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;

  margin-bottom: 30px;
  font-family: 'Mukta Mahee', sans-serif;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.me {
	margin-right: 20%;
	background: #ebfffb;
	border-radius: 0 7px 7px 7px;
	font-weight: 500;

}

.you {
	background: #3a3f3e;
	color: white;
	margin-left: 20%;
	border-radius: 7px 0 7px 7px;
	font-weight: 400;
}

input {
	color: #3a3f3e;
  border: none;
  outline: 0;
  font-size: 16px;
  font-family: 'Mukta mahee';
  width: 100%;
  background: #fff;
  background: rgba(255,255,255,0.5);
  padding: 5px 8px;
  margin: 15px 0;
}